<!-- companies -->
<section class="flex-container">
  <article class="flex-item">
    <img src="{{ site.baseurl }}/assets/img/fidelity-logo.jpg" alt="" style="width:300px; height:100px;">
  </article>
  <article class="flex-item">
    <img src="{{ site.baseurl }}/assets/img/vanguard-logo.jpeg" alt="" style="width:300px; height:100px;">
  </article>
  <article class="flex-item">
    <img src="{{ site.baseurl }}/assets/img/aon-hewitt-logo.jpg" alt="" style="width:300px; height:100px;">
  </article>
  <article class="flex-item">
    <img src="{{ site.baseurl }}/assets/img/wells-fargo-logo.jpeg" alt="" style="width:300px; height:100px;">
  </article>
</section>
